[Unit]
Description=WorkHive WiFi Manager - Travel Router
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/node /home/pi/scripts/setwifi/dist/boot.js
WorkingDirectory=/home/pi/scripts/setwifi
StandardOutput=journal
StandardError=journal
Restart=always
User=root
Environment=PATH=/usr/bin:/usr/local/bin:/sbin:/usr/sbin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
